## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"

In [3]:
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [10]:
"""List is mutable, that is elements of list can be updated or deleted
But tuple is immutable, that is elements of tuple cannot be updated or deleted"""

'List is mutable, that is elements of list can be updated or deleted\nBut tuple is immutable, that is elements of tuple cannot be updated or deleted'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [11]:
def domain_get(e_mail):
    return e_mail.split('@')[-1]

In [12]:
domain_get('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def find_dog(stmt):
    return 'dog' in stmt.lower().split()

In [14]:
find_dog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [15]:
def count_dog(stmt):
    count = 0
    for word in stmt.lower().split():
        if word == 'dog':
            count += 1
    return count

In [16]:
count_dog('This dog is different from other dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [17]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [18]:
caught_speeding(81,False)

'Big Ticket'

In [19]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [20]:
empBasicSalary = [10000, 17000, 18500, 19000, 15000]
totalSalaryExpenditure = 0
for i in empBasicSalary:
  totalSalaryExpenditure += i
print(totalSalaryExpenditure)

79500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [21]:
dict1 = {'Empid':1111, 'Empname':'Alex', 'Basicpay':15000}
dict2 = {'DeptName': 'CSE', 'DeptId': 111}
dict1.update(dict2)
print(dict1)

{'Empid': 1111, 'Empname': 'Alex', 'Basicpay': 15000, 'DeptName': 'CSE', 'DeptId': 111}